@model ShopVM

<!-- Shop Start -->
<div class="container-fluid">
    <div class="row px-xl-5">
        <!-- Shop Sidebar Start -->
     
        <!-- Shop Sidebar End -->
        <!-- Shop Product Start -->
            <div class="row pb-3">
                <div class="col-12 pb-1">
                    <div class="d-flex align-items-center justify-content-between mb-4">
                        <div>
                            <button class="btn btn-sm btn-light"><i class="fa fa-th-large"></i></button>
                            <button class="btn btn-sm btn-light ml-2"><i class="fa fa-bars"></i></button>
                        </div>
                        <div class="ml-2">
                            <div class="btn-group">
                                <form asp-controller="shop" asp-action="index">
                                    <select onchange="this.form.submit()" name="order" class=" btn btn-sm btn-light dropdown-toggle">
                                        <option value="">Sort by Default</option>
                                        <option value="1">Sort by Name</option>
                                        <option value="2">Sort by Low Price</option>
                                        <option value="3">Sort by High Price</option>
                                        <option value="4">Sort by Latest</option>
                                    </select>
                                </form>
                              
                            </div>
                          
                        </div>
                    </div>
                </div>
               
                @foreach (var item in Model.Product)
                {
                    <div class="col-lg-4 col-md-6 col-sm-6 pb-1">
                        <div class="product-item bg-light mb-4">
                            <div class="product-img position-relative overflow-hidden">
                                <img style="width:300px;height:300px" class="img-fluid w-100" src="~/assets/img/@item.ProductImages.FirstOrDefault()?.ImageUrl" alt="">
                                <div class="product-action">
                                    <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-shopping-cart"></i></a>
                                    <a class="btn btn-outline-dark btn-square" href=""><i class="far fa-heart"></i></a>
                                    <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-sync-alt"></i></a>
                                    <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-search"></i></a>
                                </div>
                            </div>
                            <div class="text-center py-4">
                                <a class="h6 text-decoration-none text-truncate" asp-controller="product" asp-action="detail" asp-route-id="@item.Id">@item.Name</a>
                                <div class="d-flex align-items-center justify-content-center mt-2">
                                    <h5>$@item.Price</h5>
                                </div>
                                <div class="d-flex align-items-center justify-content-center mb-1">
                                    <small class="fa fa-star text-primary mr-1"></small>
                                    <small class="fa fa-star text-primary mr-1"></small>
                                    <small class="fa fa-star text-primary mr-1"></small>
                                    <small class="fa fa-star text-primary mr-1"></small>
                                    <small class="fa fa-star text-primary mr-1"></small>
                                    <small>(99)</small>
                                </div>
                            </div>
                        </div>
                    </div>

                }
                <div class="col-12">
                    <nav>
                        <ul class="pagination justify-content-center">
                            <li class="page-item @(Model.CurrentPage<=1 ? "disabled" : "")">
                                <a class="page-link" asp-controller="shop" asp-action="index" asp-route-page="@(Model.CurrentPage-1)">Previous</span></a></li>

                        @for (int i = 0; i < Model.TotalPage; i++)
                        {
                            <li class="page-item @(Model.CurrentPage-1==i ? "active" : "")"><a class="page-link" asp-controller="shop" asp-action="index" asp-route-page="@(i+1)">@(i+1)</a></li>

                        }
                            <li class="page-item @(Model.CurrentPage>=Model.TotalPage ? "disabled" : "")"><a class="page-link" asp-controller="shop" asp-action="index" asp-route-page="@Model.CurrentPage+1">Next</a></li>
                        </ul>
                    </nav>
                </div>
        </div>
        <!-- Shop Product End -->
    </div>
</div>
<!-- Shop End -->